body{
	background-color: #f1f4f8;
	font-family: 'Roboto', sans-serif;

}
.navbar-default{
	background-color: #ffffff;
	height: 85px;
}
.navbar-brand{
	max-width: 120px;
	display: block;
	margin-right: 80px;

}
#navbar{
	margin-top: 15px;
}

.img-responsive{
	margin-left: 30px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	text-decoration: underline;
	color: blue;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	font-size: 1.3em;
}
.header-info{
	margin-right: 40px;
}


.col-md-7{
	background-color: #ffffff;
}

/* CUSTOMIZE THE CAROUSEL

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* Stars */
.productRate {
background: url(path-to/empty-star.png);
width: 150px;
height: 32px;
}
.productRate div {
background: url(path-to/full-star.png);
width: 0;
height: 100%;
}

.col-md-3{
	background-color: #ffffff;
}